@using System.Globalization
@using Microsoft.AspNetCore.Http
@model List<LamaranModel>
@inject IHttpContextAccessor HttpContextAccessor
@{
    bool onlyAdmin = HttpContextAccessor.HttpContext.Session.GetString("level") != "user";
}

@foreach (LamaranModel item in Model)
{
    <tr>
        <td class="align-middle text-center border-right"><input type="checkbox" name="foo" class="select_item" value="@item.id_lmrn" /></td>
        <td class="align-middle text-center border-right">@item.position</td>
        <td class="align-middle text-center border-right">@item.lmrn_date</td>
        <td class="align-middle text-center border-right">@item.nama_prshn</td>
        <td class="align-middle text-center border-right">@item.category</td>
        <td class="align-middle text-center border-right">@item.no_prshn</td>
        <td class="align-middle text-center border-right">@item.loker_by</td>
        <td class="align-middle text-center border-right">@item.sendcv_by</td>
        <td class="align-middle text-center border-right">
            <button class="btn btn-warning view-pdf-btn" style="width:3rem;" data-pdf-url="@Url.Content("~/lamaran/" + @item.lmrn_doc)" style="padding: 0;">
                <i class="fas fa-eye"></i>
            </button>
        </td>
        <td class="align-middle text-center border-right">
            @if (string.IsNullOrEmpty(item.ket_lmrn))
            {
                <span style="font-size: 10px;">-</span>
            }
            else
            {
                @item.ket_lmrn
            }
        </td>
        <td class="align-middle text-center border-right">
            @if (string.IsNullOrEmpty(item.response_prshn))
            {
                <span style="font-size: 10px;">-</span>
            }
            else
            {
                @item.response_prshn
            }
        </td>
        <td class="align-middle text-center border-right">
            @if (string.IsNullOrEmpty(item.response_date))
            {
                <span style="font-size: 10px;">-</span>
            }
            else
            {
                @item.response_date
            }
        </td>
        <td class="align-middle text-center border-right">
            @if (string.IsNullOrEmpty(item.prepare))
            {
                <span style="font-size: 10px;">-</span>
            }
            else
            {
                @item.prepare
            }
        </td>
        <td class="align-middle text-center border-right">@item.record_date</td>
        <td class="align-middle text-center border-right">
            @if (string.IsNullOrEmpty(item.last_update))
            {
                <span style="font-size: 10px;">-</span>
            }
            else
            {
                @item.last_update
            }
        </td>
        @if (onlyAdmin)
        {
        <td class="align-middle text-center">
                <button class="btn btn-primary mb-1 mt-1" style="width:3rem;" id="EDIT" onclick="btn_edit('@item.id_lmrn', '@item.position', '@item.lmrn_date', '@item.nama_prshn', '@item.no_prshn', '@item.category', '@item.loker_by', '@item.sendcv_by', '@item.ket_lmrn', '@item.response_prshn', '@item.response_date', '@item.prepare','@item.lmrn_doc')"><i class="fas fa-edit"></i></button>
                <button class="btn btn-danger mb-1 mt-1" id="DELETE" style="width:3rem;" onclick="btn_delete('@item.id_lmrn')"><i class="fas fa-trash"></i></button>
        </td>
        }
    </tr>
}
