@using MYWEB.Models
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_LayoutMyJourney.cshtml";
}
@{
    bool onlyAdmin = HttpContextAccessor.HttpContext.Session.GetString("level") != "user";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3">
                            <div class="d-flex">
                                <h2 class="text-dark"><i class="nav-icon fas fa-folder-open"></i> Lamaran</h2>&nbsp;
                                <h2 class="text-dt">History</h2>
                                <div class="ml-3 mt-2">
                                    @if (onlyAdmin)
                                    {
                                        <button class="btn btn-primary btn-sm" onclick="addData()">
                                            <i class="fa fa-plus"></i> Add  Lamaran
                                        </button>
                                        <button class="btn btn-sm btn-danger btn-sm" id="delete_select"><i class="fas fa-trash"></i> Delete Selected Data</button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-6">
                                <label style="font-size:10pt; font-weight:bold;">Date From</label>
                                <input type="date" id="date_from" value="" class="form-control form-control-sm text-center" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6">
                                <label style="font-size:10pt;font-weight:bold;">Date To</label>
                                <input type="date" id="date_to" value="" class="form-control form-control-sm text-center" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6">
                                <div class="form-group">
                                    <label style="font-size:10pt;font-weight:bold;">Position</label>
                                    <select class="form-control form-control-sm text-center" id="select_position" style="width:100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6">
                                <div class="form-group">
                                    <label style="font-size:10pt;font-weight:bold;">Category</label>
                                    <select class="form-control form-control-sm text-center" id="select_category" style="width:100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6">
                                <label style="font-size:10pt;"></label>
                                <div>
                                    <button id="btn_apply" name="btn_apply" class="btn btn-primary btn-sm btn-block mt-2"><i class="fa fa-search mr-1"></i>Apply </button>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-1 col-sm-6">
                                <label style="font-size:10pt;"></label>
                                <div>
                                    <button id="btn_reset" name="btn_reset" class="btn btn-sm btn-warning btn-block mt-2" onclick="window.location.reload()"><i class="fa fa-history mr-1"></i> </button>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6">
                                <div class="form-group">
                                    <label style="font-size:10pt;font-weight:bold;">Loker by</label>
                                    <select class="form-control form-control-sm text-center" id="loker_by" style="width:100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6">
                                <div class="form-group">
                                    <label style="font-size:10pt;font-weight:bold;">Send CV by</label>
                                    <select class="form-control form-control-sm text-center" id="send_by" style="width:100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6">
                                <div class="form-group">
                                    <label style="font-size:10pt;font-weight:bold;">Response</label>
                                    <select class="form-control form-control-sm text-center" id="select_response" style="width:100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6">
                                <div class="form-group">
                                    <label style="font-size:10pt;font-weight:bold;">Prepare</label>
                                    <select class="form-control form-control-sm text-center" id="select_prepare" style="width:100%;">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <table class="table table-sm table-striped border" rules=none id="tbl_details_filter" style="font-size:8pt;">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="2%"><input type="checkbox" id="checkAll" onClick="toggle(this)" /> Check All</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">Position</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">Lamaran Date</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">Perusahaan</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">Category</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">No tlp</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">Loker by</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">SendCV by</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">Document</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">Keterangan</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">Response</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">Response Date</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">Prepare</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">Date Insert</th>
                                            <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">Last Update</th>
                                            @if (onlyAdmin)
                                            {
                                                <th class="font-calibri border-right align-middle text-center text-white" style="background-color:#1b6ec2" width="10%">Action</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody id="table_details">
                                    </tbody>
                                </table>
                                <div id="spinner_loading" class="text-center mt-2">
                                    <i class="fas fa-spinner fa-spin fa-lg" style="font-size:30pt;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_edit" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#1b6ec2">
                <h5 class=" text-white"><i class="fa fa-info-circle mr-2"></i>Edit Lamaran</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row ml-2 mr-2">
                    <div class="col-6">
                        <div class="card card-outline" id="scan">
                            <div class="row ml-2 mr-2">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Position<span style="color: red; font-weight:bold;">*</span></label>
                                        <input class="form-control form-control-sm" type="text" id="positionx" maxlength="255" />
                                        <input type="text" id="id" class="form-control form-control-sm" hidden />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Lamaran Date<span style="color: red; font-weight:bold;">*</span></label>
                                        <input class="form-control form-control-sm" type="date" id="lmrndatex" maxlength="255" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Perusahaan<span style="color: red; font-weight:bold;">*</span></label>
                                        <input class="form-control form-control-sm" type="text" id="namaprshnx" maxlength="255" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">No tlp<span style="color: red; font-weight:bold;">*</span></label>
                                        <input class="form-control form-control-sm" type="number" id="noprshnx" maxlength="255" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Category<span style="color: red; font-weight:bold;">*</span></label>
                                        <select class="form-control form-control-sm text-center" id="categoryx" style="width:100%;"></select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Loker by<span style="color: red; font-weight:bold;">*</span></label>
                                        <select class="form-control form-control-sm text-center" id="lokerbyx" style="width:100%;"></select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">SendCV by<span style="color: red; font-weight:bold;">*</span></label>
                                        <select class="form-control form-control-sm text-center" id="sendcvbyx" style="width:100%;"></select>
                                    </div>
                                </div>
								<div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Keterangan<span style="color: red; font-weight:bold;">*</span></label>
                                        <input class="form-control form-control-sm" type="text" id="ketlmrnx" maxlength="255" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card card-outline" id="manual">
                            <div class="row ml-2 mr-2">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Response</label>
                                        <input class="form-control form-control-sm" type="text" id="resprshnx" maxlength="255" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Response Date<span style="color: red; font-weight:bold;">*</span></label>
                                        <input class="form-control form-control-sm" type="date" id="resdatex" maxlength="255" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Prepare</label>
                                        <textarea class="form-control form-control-sm" id="preparex" maxlength="255" style="resize: vertical; min-height: 50px;"></textarea>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Upload<span style="color: red; font-weight:bold;">*</span></label>
                                        <div class="ml-1" id="file_section">
                                            <input type="file" name="file" accept=".jpg, .bmp, .png, .jfif, .word, .pdf, .pptx" id="actual-btn" hidden />
                                            <label for="actual-btn" class="actual-btn">Choose file</label>
                                            <span id="file-chosen" style="width:100%;">No file chosen</span>
                                            <button id="reset-btn" class="reset-btn" style="display: none;">Hapus</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="ml-1">
                                            <img id="img-preview" src="" style="width:5rem; height:5rem; display:none;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <label style="font-size:12pt;"></label>
                        <div class="row d-flex justify-content-center">
                            <div class="col-3 mx-auto">
                                <button class="btn btn-primary btn-block" id="btn_lead" onclick="verify_save()"><i class="fas fa-save"></i> Save </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_add" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#1b6ec2">
                <h5 class=" text-white"><i class="fa fa-info-circle mr-2"></i>Add Lamaran</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row ml-2 mr-2">
                    <div class="col-6">
                        <div class="card card-outline" id="scan">
                            <div class="row ml-2 mr-2">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Position<span style="color: red; font-weight:bold;">*</span></label>
                                        <input class="form-control form-control-sm" type="text" id="positionx2" maxlength="255" />
                                        <input type="text" id="id" class="form-control form-control-sm" hidden />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Lamaran Date<span style="color: red; font-weight:bold;">*</span></label>
                                        <input class="form-control form-control-sm" type="date" id="lmrndatex2" maxlength="255" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Perusahaan<span style="color: red; font-weight:bold;">*</span></label>
                                        <input class="form-control form-control-sm" type="text" id="namaprshnx2" maxlength="255" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">No tlp<span style="color: red; font-weight:bold;">*</span></label>
                                        <input class="form-control form-control-sm" type="number" id="noprshnx2" maxlength="255" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Category<span style="color: red; font-weight:bold;">*</span></label>
                                        <select class="form-control form-control-sm text-center" id="categoryx2" style="width:100%;"></select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Loker by<span style="color: red; font-weight:bold;">*</span></label>
                                        <select class="form-control form-control-sm text-center" id="lokerbyx2" style="width:100%;"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card card-outline" id="manual">
                            <div class="row ml-2 mr-2">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">SendCV by<span style="color: red; font-weight:bold;">*</span></label>
                                        <select class="form-control form-control-sm text-center" id="sendcvbyx2" style="width:100%;"></select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Keterangan<span style="color: red; font-weight:bold;">*</span></label>
                                        <input class="form-control form-control-sm" type="text" id="ketlmrnx2" maxlength="255" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label style="font-size:10pt; font-weight:bold;">Upload<span style="color: red; font-weight:bold;">*</span></label>
                                        <div class="ml-1" id="file_sectionn">
                                            <input type="file" name="file" accept=".jpg, .bmp, .png, .jfif, .word, .pdf, .pptx" id="actual-btnn" hidden />
                                            <label for="actual-btnn" class="actual-btnn">Choose file</label>
                                            <span id="file-chosenn" style="width:100%;">No file chosen</span>
                                            <button id="reset-btnn" class="reset-btnn" style="display: none;">Hapus</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="ml-1">
                                            <img id="img-previeww" src="" style="width:5rem; height:5rem; display:none;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <label style="font-size:12pt;"></label>
                        <div class="row d-flex justify-content-center">
                            <div class="col-3 mx-auto">
                                <button class="btn btn-primary btn-block" id="create_Data"><i class="fas fa-plus"></i> Add </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/adminlte/plugins/chart.js/Chart.min.js"></script>
    <script src="~/lib/adminlte/plugins/chart.js/chartjs-plugin-datalabels@1.1.2.js"></script>
    <script>
        let isSearch = false;
        $(document).on('click', '.view-pdf-btn', function () {
            var pdfUrl = $(this).data('pdf-url');
            window.open(pdfUrl, '_blank');
        });

        //edit
        document.getElementById('actual-btn').addEventListener('change', function () {
            const file = this.files[0];
            const preview = document.getElementById('img-preview');
            const fileNameSpan = document.getElementById('file-chosen');

            if (file) {
                const fileType = file.type;
                const fileName = file.name;

                // Reset file preview and name
                preview.style.display = 'none';
                fileNameSpan.textContent = '';

                if (fileType.includes('image')) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        preview.src = e.target.result;
                        preview.style.display = 'block';
                    }
                    reader.readAsDataURL(file);
                } else if (fileType === 'application/pdf') {
                    preview.style.display = 'none';
                    fileNameSpan.textContent = fileName;
                } else {
                    preview.style.display = 'none';
                    fileNameSpan.textContent = 'Unsupported file type';
                }
            } else {
                fileNameSpan.textContent = 'No file chosen';
                preview.style.display = 'none';
            }
        });

        //add
        document.getElementById('actual-btnn').addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();

                document.getElementById('file-chosenn').textContent = file.name;
                if (file.type === 'application/pdf') {
                    // Jika file adalah PDF, tampilkan tautan untuk membuka file PDF
                    const pdfLink = document.createElement('a');
                    pdfLink.href = URL.createObjectURL(file);
                    pdfLink.textContent = 'View PDF';
                    pdfLink.target = '_blank'; // Buka di tab atau jendela baru
                    document.getElementById('pdf-preview-container').innerHTML = ''; // Bersihkan konten sebelumnya
                    document.getElementById('pdf-preview-container').appendChild(pdfLink);
                } else {
                    // Jika file bukan PDF, tampilkan pratinjau gambar
                    reader.addEventListener('load', function () {
                        const preview = document.getElementById('img-previeww');
                        preview.src = this.result;
                        preview.style.display = 'block';
                    });

                    reader.readAsDataURL(file);
                }
            }
        });

        function toggle(source) {
            checkboxes = document.getElementsByName('foo');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }

        $(document).ready(function () {

            $('#select_position').select2({
                placeholder: 'select position',
                width: '100%',
                ajax: {
                    url: "@Url.Action("GetPosition0")",
                    async: false,
                    data: function (params) {
                        return {
                            family: params.term,
                            //sector: 'none'
                        };
                    },
                    processResults: function (data) {
                        //console.log(data);
                        return {
                            results: data.items
                        }
                    },
                }
            });

            $('#select_category').select2({
                placeholder: 'select category',
                width: '100%',
                ajax: {
                    url: "@Url.Action("GetCategory0")",
                    async: false,
                    data: function (params) {
                        return {
                            family: params.term,
                            //sector: 'none'
                        };
                    },
                    processResults: function (data) {
                        //console.log(data);
                        return {
                            results: data.items
                        }
                    },
                }
            });

            $('#loker_by').select2({
                placeholder: 'loker by',
                width: '100%',
                ajax: {
                    url: "@Url.Action("GetLokerby0")",
                    async: false,
                    data: function (params) {
                        return {
                            family: params.term,
                            //sector: 'none'
                        };
                    },
                    processResults: function (data) {
                        //console.log(data);
                        return {
                            results: data.items
                        }
                    },
                }
            });

            $('#send_by').select2({
                placeholder: 'send cv by',
                width: '100%',
                ajax: {
                    url: "@Url.Action("GetSendby0")",
                    async: false,
                    data: function (params) {
                        return {
                            family: params.term,
                            //sector: 'none'
                        };
                    },
                    processResults: function (data) {
                        //console.log(data);
                        return {
                            results: data.items
                        }
                    },
                }
            });

            $('#select_response').select2({
                placeholder: 'select response',
                width: '100%',
                ajax: {
                    url: "@Url.Action("GetResponse0")",
                    async: false,
                    data: function (params) {
                        return {
                            family: params.term,
                            //sector: 'none'
                        };
                    },
                    processResults: function (data) {
                        //console.log(data);
                        return {
                            results: data.items
                        }
                    },
                }
            });

            $('#select_prepare').select2({
                placeholder: 'select prepare',
                width: '100%',
                ajax: {
                    url: "@Url.Action("GetPrepare0")",
                    async: false,
                    data: function (params) {
                        return {
                            family: params.term,
                            //sector: 'none'
                        };
                    },
                    processResults: function (data) {
                        //console.log(data);
                        return {
                            results: data.items
                        }
                    },
                }
            });

            //add

            $('#categoryx2').select2({
                placeholder: 'select category',
                width: '100%',
                ajax: {
                    url: "@Url.Action("GetCategoryMst")",
                    async: false,
                    data: function (params) {
                        return {
                            family: params.term,
                            //sector: 'none'
                        };
                    },
                    processResults: function (data) {
                        //console.log(data);
                        return {
                            results: data.items
                        }
                    },
                }
            });

            $('#lokerbyx2').select2({
                placeholder: 'select lokerby',
                width: '100%',
                ajax: {
                    url: "@Url.Action("GetLokerbyMst")",
                    async: false,
                    data: function (params) {
                        return {
                            family: params.term,
                            //sector: 'none'
                        };
                    },
                    processResults: function (data) {
                        //console.log(data);
                        return {
                            results: data.items
                        }
                    },
                }
            });

            $('#sendcvbyx2').select2({
                placeholder: 'select sendcvby',
                width: '100%',
                ajax: {
                    url: "@Url.Action("GetSendcvbyMst")",
                    async: false,
                    data: function (params) {
                        return {
                            family: params.term,
                            //sector: 'none'
                        };
                    },
                    processResults: function (data) {
                        //console.log(data);
                        return {
                            results: data.items
                        }
                    },
                }
            });


            //edit

            $('#categoryx').select2({
                placeholder: 'select category',
                width: '100%',
                ajax: {
                    url: "@Url.Action("GetCategoryMst")",
                    async: false,
                    data: function (params) {
                        return {
                            family: params.term,
                            //sector: 'none'
                        };
                    },
                    processResults: function (data) {
                        //console.log(data);
                        return {
                            results: data.items
                        }
                    },
                }
            });

            $('#lokerbyx').select2({
                placeholder: 'select lokerby',
                width: '100%',
                ajax: {
                    url: "@Url.Action("GetLokerbyMst")",
                    async: false,
                    data: function (params) {
                        return {
                            family: params.term,
                            //sector: 'none'
                        };
                    },
                    processResults: function (data) {
                        //console.log(data);
                        return {
                            results: data.items
                        }
                    },
                }
            });

            $('#sendcvbyx').select2({
                placeholder: 'select sendcvby',
                width: '100%',
                ajax: {
                    url: "@Url.Action("GetSendcvbyMst")",
                    async: false,
                    data: function (params) {
                        return {
                            family: params.term,
                            //sector: 'none'
                        };
                    },
                    processResults: function (data) {
                        //console.log(data);
                        return {
                            results: data.items
                        }
                    },
                }
            });

            setTimeout(function () {
                $('button[name=btn_apply]').click();
            }, 1000);

            window.setTimeout(function () {
                location.reload();
            }, 900000);
        })

        $('button[name=btn_apply]').click(function () {
            position = $("#select_position").val();
            category = $("#select_category").val();
            loker_by = $("#loker_by").val();
            sendcv_by = $("#send_by").val();
            response_prshn = $("#select_response").val();
            prepare = $("#select_prepare").val();
            date_from = $('#date_from').val()
            date_to = $('#date_to').val()

            $("#table_details").html('');
            var table = $("#table_details");
            var table1 = $("#tbl_details_filter");
            $.ajax({
                url: "@Url.Action("GETLAMARAN")",
                type: "POST",
                data: {
                    position: position,
                    category: category,
                    loker_by: loker_by,
                    sendcv_by: sendcv_by,
                    response_prshn: response_prshn,
                    prepare: prepare,
                    datefrom: date_from,
                    dateto: date_to
                },
                success: function (data) {
                    //console.log(data)
                    if (!isSearch)
                        isSearch = true;
                    else
                        table1.DataTable().destroy();
                    table.html(data);
                    table1.DataTable({
                        dom: 'lrtpi',
                        pagingType: 'numbers',
                        searching: false
                    });
                },
                complete: function () {
                    $('#spinner_loading').hide();
                }
            });
        })


        function btn_delete(id_lmrn) {

            if (id_lmrn == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Please Fill in All the requirement first !'
                })
            }
            else {
                Swal.fire({
                    title: 'Delete Lamaran?',
                    text: "Are you sure for this action? ",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#28a745',
                    cancelButtonColor: '#dc3545',
                    confirmButtonText: 'Yes!',
                    cancelButtonText: 'No!',
                    showLoaderOnConfirm: true,
                    preConfirm: function () {
                        return new Promise(function (resolve, reject) {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("DeleteLamaran", "Admin")",
                                data: {
                                    id_lmrn: id_lmrn
                                },
                                dataType: "json",
                                success: function () {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Success',
                                        text: 'Deleted Successfully !'
                                    })
                                    window.location.href = '@Url.Action("LamaranHistory", "Admin")';
                                },
                                complete: function () {
                                    $('#spinner_loading').hide();
                                }
                            });

                        })
                    }

                })

            }
        }

        $("#delete_select").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.select_item').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push({ id_lmrn: $(this).val() });
                }
            });
            console.log(selectedIDs) //ada datanya

            if (selectedIDs.length === 0) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Please Fill in All the requirement first !'
                })

            } else {
                Swal.fire({
                    title: 'Delete Lamaran?',
                    text: "Are you sure tfor this action? ",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#28a745',
                    cancelButtonColor: '#dc3545',
                    confirmButtonText: 'Yes!',
                    cancelButtonText: 'No!',
                    showLoaderOnConfirm: true,
                    preConfirm: function () {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("Delete_selected10", "Admin")",
                            data: JSON.stringify(selectedIDs),
                            dataType: "json",
                            contentType: "application/json",
                            success: function () {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Success',
                                    text: 'Delete Successfully !'
                                })
                                window.location.href = '@Url.Action("LamaranHistory", "Admin")';
                            },
                            complete: function () {
                                $('#spinner_loading').hide();
                            }
                        });
                    }
                })
            }

        });

        function btn_edit(id_lmrn, positionx, lmrndatex, namaprshnx, noprshnx, category, loker_by, sendcv_by, ketlmrnx, resprshnx, resdatex, preparex, lmrn_doc) {
            $('#id').val(id_lmrn);
            $('#positionx').val(positionx);
            $('#lmrndatex').val(lmrndatex);
            $('#namaprshnx').val(namaprshnx);
            $('#noprshnx').val(noprshnx);
            $('#categoryx').empty()
            getCategory(category);
            $('#lokerbyx').empty()
            getLokerby(loker_by);
            $('#sendcvbyx').empty()
            getSendcvby(sendcv_by);
            $('#ketlmrnx').val(ketlmrnx);
            $('#resprshnx').val(resprshnx);
            $('#resdatex').val(resdatex);
            $('#preparex').val(preparex);
            // Menampilkan gambar yang diunggah
            if (lmrn_doc) {
                const fileType = lmrn_doc.split('.').pop().toLowerCase();
                if (fileType === 'pdf') {
                    $('#img-preview').hide();
                    $('#file-chosen').text(lmrn_doc);
                } else {
                    $('#img-preview').attr('src', '../lamaran/' + lmrn_doc);
                    $('#img-preview').show();
                    $('#file-chosen').text('');
                }
            } else {
                $('#img-preview').hide();
                $('#file-chosen').text('No file chosen');
            }
            $("#modal_edit").modal('show');
        }

        $(document).ready(function () {
            $('#actual-btn').on('change', function (event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-preview').attr('src', e.target.result);
                        $('#img-preview').show();
                    };
                    reader.readAsDataURL(file);
                    $('#file-chosen').text(file.name);
                    $('#reset-btn').show();
                }
            });

            $('#reset-btn').on('click', function () {
                $('#actual-btn').val(null);
                $('#img-preview').attr('src', '').hide();
                $('#file-chosen').text('No file chosen');
                $(this).hide();
            });
        });

        function getCategory(category) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetLmrnCategory")",
                data: {
                    category: category
                },
                success: function (data) {
                    if (data.category !== '') {
                        $('#categoryx').append(new Option(data.category, data.category, true, true)).trigger('change');
                    }
                }
            });
        }

        function getLokerby(loker_by) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetLmrnLokerby")",
                data: {
                    loker_by: loker_by
                },
                success: function (data) {
                    if (data.loker_by !== '') {
                        $('#lokerbyx').append(new Option(data.loker_by, data.loker_by, true, true)).trigger('change');
                    }
                }
            });
        }

        function getSendcvby(sendcv_by) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetLmrnSendcvby")",
                data: {
                    sendcv_by: sendcv_by
                },
                success: function (data) {
                    if (data.sendcv_by !== '') {
                        $('#sendcvbyx').append(new Option(data.sendcv_by, data.sendcv_by, true, true)).trigger('change');
                    }
                }
            });
        }

        function addData() {
            $('#modal_add').modal('show');
        }

        function verify_save() {
            var id_lmrn = $('#id').val();
            var position = $('#positionx').val();
            var lmrn_date = $('#lmrndatex').val();
            var nama_prshn = $('#namaprshnx').val();
            var no_prshn = $('#noprshnx').val();
            var category = $('#categoryx').val();
            var loker_by = $('#lokerbyx').val();
            var sendcv_by = $('#sendcvbyx').val();
            var ket_lmrn = $('#ketlmrnx').val();
            var response_prshn = $('#resprshnx').val();
            var response_date = $('#resdatex').val();
            var prepare = $('#preparex').val();
            var fileInput = $('#actual-btn')[0].files[0];

            console.log({
                id_lmrn: id_lmrn,
                position: position,
                lmrn_date: lmrn_date,
                nama_prshn: nama_prshn,
                no_prshn: no_prshn,
                category: category,
                loker_by: loker_by,
                sendcv_by: sendcv_by,
                ket_lmrn: ket_lmrn,
                response_prshn: response_prshn,
                response_date: response_date,
                prepare: prepare,
                fileInput: fileInput
            });

            if (position == '' || lmrn_date == '' || nama_prshn == '' || no_prshn == '' || category == '' || loker_by == '' || sendcv_by == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Please Fill in All the requirement first !'
                });
            } else {
                Swal.fire({
                    title: 'Edit Lamaran?',
                    text: "Are you sure for this action? ",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#28a745',
                    cancelButtonColor: '#dc3545',
                    confirmButtonText: 'Yes!',
                    cancelButtonText: 'No!',
                    showLoaderOnConfirm: true,
                    preConfirm: function () {
                        return new Promise(function (resolve, reject) {
                            var formData = new FormData();
                            formData.append('id_lmrn', id_lmrn);
                            formData.append('position', position);
                            formData.append('lmrn_date', lmrn_date);
                            formData.append('nama_prshn', nama_prshn);
                            formData.append('no_prshn', no_prshn);
                            formData.append('category', category);
                            formData.append('loker_by', loker_by);
                            formData.append('sendcv_by', sendcv_by);
                            formData.append('ket_lmrn', ket_lmrn);
                            formData.append('response_prshn', response_prshn);
                            formData.append('response_date', response_date);
                            formData.append('prepare', prepare);
                            if (fileInput) {
                                formData.append('file', fileInput);
                            }

                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("UpdateLamaran", "Admin")",
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function () {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Success',
                                        text: 'Edit Successfully !'
                                    });
                                    window.location.href = '@Url.Action("LamaranHistory", "Admin")';
                                },
                                complete: function () {
                                    $('#spinner_loading').hide();
                                }
                            });

                        });
                    }
                });
            }
        }

        $("#create_Data").click(function () {
            var positionx = $('#positionx2').val();
            var lmrndatex = $('#lmrndatex2').val();
            var namaprshnx = $('#namaprshnx2').val();
            var noprshnx = $('#noprshnx2').val();
            var categoryx = $('#categoryx2').val();
            var lokerbyx = $('#lokerbyx2').val();
            var sendcvbyx = $('#sendcvbyx2').val();
            var ketlmrnx = $('#ketlmrnx2').val();
            var fileInput = $('#actual-btnn')[0].files[0]; // Ambil file yang diunggah

            if (positionx == '' || lmrndatex == '' || namaprshnx == '' || noprshnx == '' || categoryx == '' || lokerbyx == '' || sendcvbyx == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Please Fill in All the requirement first !'
                });
            } else {
                console.log("Data yang diisi oleh pengguna:");
                console.log("position:", positionx);
                console.log("lmrn_date:", lmrndatex);
                console.log("nama_prshn:", namaprshnx);
                console.log("no_prshn:", noprshnx);
                console.log("category:", categoryx);
                console.log("loker_by:", lokerbyx);
                console.log("sendcv_by:", sendcvbyx);
                console.log("ket_lmrn:", ketlmrnx);

                console.log("File yang diunggah:");
                console.log("Nama File:", fileInput.name);
                console.log("Tipe File:", fileInput.type);

                var formData = new FormData(); // Buat objek FormData untuk mengirim data termasuk file
                formData.append('file', fileInput); // Tambahkan file ke FormData
                formData.append('position', positionx);
                formData.append('lmrn_date', lmrndatex);
                formData.append('nama_prshn', namaprshnx);
                formData.append('no_prshn', noprshnx);
                formData.append('category', categoryx);
                formData.append('loker_by', lokerbyx);
                formData.append('sendcv_by', sendcvbyx);
                formData.append('ket_lmrn', ketlmrnx);

                Swal.fire({
                    title: 'Add New Lamaran?',
                    text: "Are you sure for this action?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#28a745',
                    cancelButtonColor: '#dc3545',
                    confirmButtonText: 'Yes!',
                    cancelButtonText: 'No!',
                    showLoaderOnConfirm: true,
                    preConfirm: function () {
                        return new Promise(function (resolve, reject) {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("AddLamaran", "Admin")",
                                data: formData, // Kirim data menggunakan FormData
                                contentType: false, // Set contentType ke false agar FormData tidak diubah secara otomatis
                                processData: false, // Set processData ke false agar FormData tidak diubah secara otomatis
                                success: function (data) {
                                    Swal.fire(
                                        'Added!',
                                        'New Lamaran has been Added.',
                                        'success'
                                    );
                                    window.location.href = '@Url.Action("LamaranHistory", "Admin")';
                                },
                                complete: function () {
                                    $('#spinner_loading').hide();
                                }
                            });

                        })
                    }
                })
            }
        });

    </script>
    <style>
        label.actual-btn {
            display: inline-block;
            background-color: #ffc107;
            color: white;
            padding: 0.5rem;
            font-family: sans-serif;
            border-radius: 0.3rem;
            cursor: pointer;
            margin-top: 1rem;
            width: 10rem;
            text-align: center;
        }

        #file-chosen {
            margin-left: 0.3rem;
            font-family: sans-serif;
        }

        label.actual-btnn {
            display: inline-block;
            background-color: #ffc107;
            color: white;
            padding: 0.5rem;
            font-family: sans-serif;
            border-radius: 0.3rem;
            cursor: pointer;
            margin-top: 1rem;
            width: 10rem;
            text-align: center;
        }

        #file-chosenn {
            margin-left: 0.3rem;
            font-family: sans-serif;
        }

        .modal-dialog {
            max-width: 110% !important;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .modal {
            padding-right: 4px !important;
            padding: .5%;
        }

        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 12px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
}



